In [1]:
import pandas as pd
import datetime
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [2]:
fmin_df = pd.read_csv("./A233740_5min_cybos.csv", index_col=[0], parse_dates=True)

In [3]:
fmin_df

                         Date  Time   Open   High    Low  Close     Vol
Datetime
2015-12-17 09:05:00  20151217   905  10240  10390   9970   9970    4150
2015-12-17 09:10:00  20151217   910  10315  10405  10235  10235   50950
2015-12-17 09:15:00  20151217   915  10225  10245  10210  10215   54798
2015-12-17 09:20:00  20151217   920  10215  10220  10155  10175   80853
2015-12-17 09:25:00  20151217   925  10175  10215  10175  10205    4679
2015-12-17 09:30:00  20151217   930  10190  10190  10160  10185    7563
2015-12-17 09:35:00  20151217   935  10185  10185  10145  10145    1925
2015-12-17 09:40:00  20151217   940  10145  10150  10130  10145    3231
2015-12-17 09:45:00  20151217   945  10145  10145  10125  10125    1029
2015-12-17 09:50:00  20151217   950  10125  10125  10095  10095     475
2015-12-17 09:55:00  20151217   955  10090  10090  10000  10000     716
2015-12-17 10:00:00  20151217  1000  10010  10030  10000  10030    5076
2015-12-17 10:05:00  20151217  1005  10030  10080  10030  10075    3405
2015-12-17 10:10:00  20151217  1010  10070  10070  10045  10065    1112
2015-12-17 10:15:00  20151217  1015  10050  10075  10050  10075    6530
2015-12-17 10:20:00  20151217  1020  10075  10085  10075  10085   13996
2015-12-17 10:25:00  20151217  1025  10085  10105  10085  10095   11063
2015-12-17 10:30:00  20151217  1030  10095  10095  10075  10075   20799
2015-12-17 10:35:00  20151217  1035  10080  10085  10075  10085    9045
2015-12-17 10:40:00  20151217  1040  10090  10095  10075  10090   40705
2015-12-17 10:45:00  20151217  1045  10090  10100  10090  10095   24538
2015-12-17 10:50:00  20151217  1050  10095  10100  10095  10095   22595
2015-12-17 10:55:00  20151217  1055  10095  10095  10085  10090   32061
2015-12-17 11:00:00  20151217  1100  10090  10090  10080  10080   21056
2015-12-17 11:05:00  20151217  1105  10085  10090  10085  10090   10430
2015-12-17 11:10:00  20151217  1110  10090  10090  10080  10080    4015
2015-12-17 11:15:00  20151217  1115  10085  10090  10080  10085   42671
2015-12-17 11:20:00  20151217  1120  10085  10090  10085  10090   68006
2015-12-17 11:25:00  20151217  1125  10090  10095  10080  10095   11367
2015-12-17 11:30:00  20151217  1130  10095  10095  10090  10090     511
...                       ...   ...    ...    ...    ...    ...     ...
2018-06-12 13:05:00  20180612  1305  19930  19955  19910  19940   31463
2018-06-12 13:10:00  20180612  1310  19940  20015  19935  20015   63506
2018-06-12 13:15:00  20180612  1315  20010  20055  20005  20035   72557
2018-06-12 13:20:00  20180612  1320  20035  20075  20000  20070   68075
2018-06-12 13:25:00  20180612  1325  20070  20110  20055  20080   65528
2018-06-12 13:30:00  20180612  1330  20090  20090  20020  20040   41313
2018-06-12 13:35:00  20180612  1335  20045  20070  20005  20060   37077
2018-06-12 13:40:00  20180612  1340  20060  20100  20045  20085   31056
2018-06-12 13:45:00  20180612  1345  20085  20120  20085  20100   54914
2018-06-12 13:50:00  20180612  1350  20110  20115  20025  20040   42410
2018-06-12 13:55:00  20180612  1355  20035  20050  20020  20045   39617
2018-06-12 14:00:00  20180612  1400  20040  20060  20005  20020   48206
2018-06-12 14:05:00  20180612  1405  20025  20065  20005  20060   40512
2018-06-12 14:10:00  20180612  1410  20060  20100  20040  20075   66209
2018-06-12 14:15:00  20180612  1415  20075  20075  19970  20000   88268
2018-06-12 14:20:00  20180612  1420  20000  20040  19985  20025   31497
2018-06-12 14:25:00  20180612  1425  20030  20045  20005  20045   24526
2018-06-12 14:30:00  20180612  1430  20045  20085  20035  20065   39037
2018-06-12 14:35:00  20180612  1435  20065  20075  20050  20055   36163
2018-06-12 14:40:00  20180612  1440  20055  20075  20055  20070   30659
2018-06-12 14:45:00  20180612  1445  20070  20085  19950  19970  125839
2018-06-12 14:50:00  20180612  1450  19975  20015  19970  20005   69088
2018-06-12 14:55:00  20180612  1455  20000  20010  19985  20000   21979
2018-06-12 15:00:00  20180612  1500  19990  20020  19965  19980   41922
2018-06-12 15:05:00  20180612  1505  19975  20055  19955  20055   51540
2018-06-12 15:10:00  20180612  1510  20060  20170  20055  20100  163903
2018-06-12 15:15:00  20180612  1515  20115  20165  20095  20160   72172
2018-06-12 15:20:00  20180612  1520  20160  20160  20100  20135   96242
2018-06-12 15:25:00  20180612  1520  20160  20160  20100  20135   96242
2018-06-12 15:30:00  20180612  1530  20200  20200  20200  20200  187349

[46404 rows x 7 columns]

In [4]:
type(fmin_df)

pandas.core.frame.DataFrame

In [5]:
plt.plot(fmin_df.index, fmin_df['Close'], label='KODEX 150 Leverage')

In [8]:
plt.show()